<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE-edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/> -->
		<title>| Login |</title>
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/source/assets/Images/logo/lg3.png"
		/>

		<!-- ============================================ fonts ============================================= -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>

		<!-- ====================================== Bootstrap css file======================================== -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		/>

		<!-- ======================================= css file=======================-========================= -->
		<link
			rel="stylesheet"
			href="/source/assets/registration/css/registration.css"
		/>

		<!-- ======================================= icons =================================================== -->
		<link
			href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
	</head>

	<body>
		<section>
			<div class="container">
				<!-- ======================================= Login-box =================================================== -->

				<div class="user signinBx" id="modal-login">
					<div class="imgBx">
						<img
							src="/source/assets/Registration/images/signin.svg"
						/>
					</div>
					<div class="formBx">
						<form id="login-form">
							<h2>Log In</h2>
							<input
								type="email"
								name=""
								placeholder="Email Address"
								id="email_id"
								autocomplete="off"
								required=""
							/>
							<input
								type="password"
								name=""
								placeholder="password"
								id="pass_word"
								required=""
							/>
							<button class="login_btn">Log in</button>
							<p class="error pink-text center-align"></p>
							<p class="signup">
								Don't have an account?
								<a href="./signup.html">Sign up</a>
							</p>
							<div class="social">
								<a href="#"><i class="fab fa-google"></i></a>
								<a href="#"><i class="fab fa-facebook"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-github"></i></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<!-- ===================================== js file ===================================================== -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="/source/assets/Registration/js/login.js"></script>
	</body>
</html>
