<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>| Heap-Sort |</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/source/assets/Images/logo/lg3.png"
    />

    <!-- ============================================ fonts ============================================= -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />

    <!-- ====================================== Bootstrap css file======================================== -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- ======================================= stylesheet links =================================================== -->
    <link rel="stylesheet" href="/source/assets/Master/css/container.css" />
    <link rel="stylesheet" href="/source/assets/Master/css/style.css" />

    <!-- ======================================= icons & aos =================================================== -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
  </head>

  <body>
    <!-- ======================================= scroll up button =================================================== -->
    <a id="button"></a>

    <!-- ======================================= animate scrolldown =================================================== -->
    <div class="scrolldown"><b>SCROLL DOWN - -</b><span></span></div>

    <header>
      <a href="" class="logo"
        ><img src="/source/assets/Images/logo/lg3.png" alt=""
      /></a>
      <div class="menuToggle" onclick="toggleMenu();"></div>
      <ul class="navigation">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/source/templates/Master/algo_menu.html">Menu</a></li>
        <li><a href="" class="active">Container</a></li>
        <li class="block">
          <a href=""
            ><span>Login</span></a
          >
        </li>
      </ul>
    </header>

    <section id="algo1">
      <div data-aos="fade-up" data-aos-duration="500">
        <div class="algo container">
          <div class="algo-top">
            <h1 class="algo-title">Algo <span>Visualizer</span></h1>
            <p>
              The best way to understand complex data structures is to see them
              in action. This project is developed in an <br />
              interactive animations for a variety of data structures and
              algorithms.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ===================================== Algorithm buttons with box =========================================== -->

    <section class="cont">
      <div class="viz" data-aos="fade-up" data-aos-duration="1500">
        <canvas id="canvas" width="850" height="450"></canvas>
        <div class="gen">
          <div id="rgn">
            <h1 class="title">Heap <span>sort</span></h1>
            <p>Delay Time :</p>
            <input type="range" id="rangeTime" min="1" max="100" value="10" />
            <span id="showTime">10</span><br />
            <p>Array Size :</p>
            <input type="range" id="rangeArr" min="10" max="200" value="10" />
            <span id="showLength">10</span>
          </div>
          <button class="btn1" onclick="heapSort(Arr)">Start</button>
          <button class="btn1" id="randomize" onclick="randomArr()">
            Shuffle
          </button>
          <button class="btn1" id="reset_algo" onclick="reset_click()">
            Reset
          </button>
        </div>
      </div>
    </section>

    <!-- ===================================== Algorithm defination with box =========================================== -->

    <section class="algo-contents">
      <div class="container2">
        <div class="algo-def">
          <p class="def">
            <span class="tit">Defination :</span> <br />
            <a href="https://en.wikipedia.org/wiki/Heapsort">Heap sort</a>
            is a much more efficient version of selection sort. It also works by
            determining the largest (or smallest) element of the list, placing
            that at the end (or beginning) of the list, then continuing with the
            rest of the list, but accomplishes this task efficiently by using a
            data structure called a heap, a special type of binary tree. Once
            the data list has been made into a heap, the root node is guaranteed
            to be the largest (or smallest) element. When it is removed and
            placed at the end of the list, the heap is rearranged so the largest
            element remaining moves to the root. Using the heap, finding the
            next largest element takes O(log n) time, instead of O(n) for a
            linear scan as in simple selection sort. This allows Heapsort to run
            in O(n log n) time, and this is also the worst case complexity.
          </p>
          <p class="tc">
            <span class="tit">Performance</span> <br />
            <span class="one">Best-case Time complexity: </span>
            <span class="theory">O(nlogn)</span> <br />
            <span class="one">Average-case Time complexity: </span>
            <span class="theory">O(nlogn)</span> <br />
            <span class="one">worst-case Time complexity: </span>
            <span class="theory">O(nlogn)</span> <br />
          </p>
          <p class="sc">
            <span class="tit">Space complexity</span> <br />
            <span class="one">worst-case Space complexity: </span>
            <span class="theory">O(1)</span> <br />
          </p>
        </div>
        <div class="algo-box">
          <pre class="pseudo_code">

        function heapSort(arr){

            async function max_heapify(a, i, length) {
                while (true) {
                    var left = i*2 + 1;
                    var right = i*2 + 2;
                    var largest = i;
    
                    if (left < length && a[left] > a[largest]) {
                            largest = left;
                    }
    
                    if (right < length && a[right] > a[largest]) {
                        largest = right;
                    }
    
                    if (i == largest) {
                        break;
                    }
    
                    await swapIndex(a, i, largest);
                    await drawArr(arr);
                    await sleep(time)
                    i = largest;
                    }
            }
    
            async function heapify(a, length) {
                for (var i = Math.floor(length/2); i >= 0; i--) {
                    await max_heapify(a, i, length);
                }
            }
    
            async function heapsort(a) {
                await heapify(a, a.length-1);
    
                for (var i = a.length - 1; i >= 0; i--) {
                        await swapIndex(a, i, 0);
                    await drawArr(arr);
                    await sleep(time)
                    await max_heapify(a, 0, i);
                }	
            }
    
            heapsort(Arr);
        }
    
              </pre
          >
        </div>
      </div>

      <!-- ===================================== Footer section=========================================== -->

      <footer class="footer1">
        <div class="footer_sec">
          <div class="head">
            <div class="logo">
              <a href="">Nikithkumar N</a>
            </div>
            <div class="social">
              <a href="https://www.facebook.com/itznikith.kumar/"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="https://github.com/TheThunderB0lt/"
                ><i class="fab fa-github"></i
              ></a>
              <a href="https://www.linkedin.com/in/nikithkumar/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a href="https://twitter.com/NIKITHKUMARN1/"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </footer>
      <div class="copy_right1">
        <p class="text-center">
          Designed and built with
          <span class="icon"><i class="fa fa-heart fa-lg"></i></span> by
          <a href="#" target="_blank"> The ThunderBolt</a>
        </p>
        <!-- <p>&copy; 2020 <span>NIKITH KUMAR N</span> | All Rights Reserved</p> -->
      </div>
    </section>

    <!-- ======================================= Navbar navigation =================================================== -->

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        const header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });

      function toggleMenu() {
        const menuToggle = document.querySelector(".menuToggle");
        const navigation = document.querySelector(".navigation");
        menuToggle.classList.toggle("active");
        navigation.classList.toggle("active");
      }
    </script>

    <!-- ============================== javascript scrolldown aimated button =================================== -->

    <script>
      var btn = $("#button");
      $(window).scroll(function () {
        if ($(window).scrollTop() > 750) {
          btn.addClass("show");
        } else {
          btn.removeClass("show");
        }
      });

      btn.on("click", function (e) {
        e.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "300");
      });
    </script>

    <!--=========================== Animate on scroll js file=========================== -->

    <script>
      AOS.init();
    </script>

    <!-- ======================================== javascript files========================================= -->

    <script src="/source/assets/Master/js/App.js"></script>
    <script src="/source/assets/Master/js/algorithms/heap_sort.js"></script>
  </body>
</html>
